doctype html 
html

    head
        title Create Note

    body 
        form(action=`/create/` method="POST")
            input(
            type="text"
            name="title"
            placeholder="Title"
            )
            br
            br
            textarea(
            name="body"
            placeholder="Description"
            )
            br
            input(type="submit")
            
        br
        a(href="/") Home