doctype html 
html

    head
        title=data.title

    body 
        form(action=`/update/${data.id}` method="POST")
            input(
            type="text"
            value=`${data.title}`
            name="title"
            )
            br
            br
            textarea(
            name="body"
            )= data.body
            br
            input(type="submit")
            
        br
        a(href="/") Home